* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.container h1 {
    font-size: 3rem;
    padding-bottom: 1.5rem;
    line-height: 1.5;
    color: black;
}

.container p {
    padding-bottom: 2rem;
    line-height: 1.5;
    color: black;
}

.container a {
    padding: 12px 24px;
    background-color: #6A67F3;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.container a:hover {
    background-color: #6562f4;
}
